
:root {
    --primary-color: #3A7D44;
    --secondary-color: #41ad49;
    --light-color: #F8F9FA;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.hero-section {
    background: url("images/banner2.png");


    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 0;

}

.logo {
    height: 50px;
}

.step-icon {
    font-size: 2.5rem;
    color: var(--primary-color);
}

.fertilizer-card img {
    height: 200px;
    object-fit: cover;
}

.review-card img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.form-label {
    color: black;
}

.btn-primary {
    background-color: #3A7D44;
    border-color: #3A7D44;
}

.btn-primary:hover {
    background-color: #3A7D44;
    color: white;
    border-color: #3A7D44;
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(44, 85, 48, 0.3);
}


.btn-outline-primary {
    color: var(--primary-color);
    border-color: var(--primary-color);
}
.btn-outline-primary:hover {
    background-color: #3A7D44;
    color: white;
    border-color: #3A7D44;
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(44, 85, 48, 0.3);
}

footer {
    background-color: var(--light-color);
}
.profile-card {
    border: 1px solid #2c5530;
}

